In [1]:
# imports

#standard
import pandas as pd
#import random
from datetime import datetime
from pandasql import sqldf
pysqldf = lambda q: sqldf(q,globals())

#Viz
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

#Data Pulls
from bs4 import BeautifulSoup
import requests
import re

In [2]:
df = pd.read_csv('full_transcript.csv', index_col=0)

In [3]:
df.head()

,character,dialogue,word_count,abs_episode,episode_title,season,episode_number
0,Sokka,It's not getting away from me this time. Watc...,19,1,The_Boy_in_the_Iceberg,1,1
1,Katara,"Sokka, look!",2,1,The_Boy_in_the_Iceberg,1,1
2,Sokka,"Sshh! Katara, you're going to scare it away. ...",16,1,The_Boy_in_the_Iceberg,1,1
3,Katara,"But, Sokka! I caught one!",5,1,The_Boy_in_the_Iceberg,1,1
4,Katara,Hey!,1,1,The_Boy_in_the_Iceberg,1,1

In [10]:
character_group = df.groupby(by='character',as_index=False).sum()

In [17]:
character_group.sort_values(by='word_count', ascending = False)[['character','word_count']] \
    .to_csv("character_mapping.csv")